/* admin.css */
.admin-container {
    background-image: linear-gradient(rgba(0, 29, 35, .8), rgba(0, 29, 35, 0.8)),
    url(../Media/Pictures/DF.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .login-form {
    background-color: rgba(0, 0, 0, 0.281);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    width: 400px;
    max-width: 100%;
    text-align: center;
    height: 55vh;
    margin-top: 250px;
    align-items: center;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
  }
  
  .login-form label {
    display: block;
    align-self:self-start;
    margin-bottom: 5px;
    font-weight: bold;
    transform: translateX(-150px);
  }
  
  .login-form input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    height: 8%;
    border-left: none;
    border-top: none;
    border-right: none;
    color: white;
    background-color: transparent;
  }
  
  .login-form button {
    background-color: rgb(238, 132, 3);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: rgb(195, 109, 3);
  }

  .remember-me input{
    height: 15px;
    transform: translate(-100px, 2.5px);
  }

  .remember-me label {
    transform: translateX(-190px);
    width: 300px;
    font-weight: lighter;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .remember-me input {
    margin-right: 5px;
  }

  .forgot-password {
    transform: translate(120px, -44px);
    font-weight: lighter;

  }
  
  .forgot-password a {
    color: #fff;
    text-decoration: none;
  }

  @media (min-width: 390px) {
    .login-form {
      transform: translateY(90px);
    }
  }

  @media (width: 375px) {
    .login-form {
      transform: translateY(20px);
    }
  }

  @media (max-width: 500px) {
    .login-form{
        width: 70%;
        height: auto;
    }
    .login-form label{
        transform: translateX(-80px);
    }

    .remember-me{
      transform: translateX(45px);
      font-size: smaller;
      width: 133px;
    }

    .remember-me label{
      transform: translateX(-110px);
    }

    .forgot-password{
        transform: translate(0px);
        font-size: smaller;
    }

    .login-form button{
        margin-top: 10px;
    }

    .admin-container{
        height: 95vh;
    }

    .login-form{
        margin-top: 150px;
    }
  }

 