/* initiative.css */
.initiatie-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .initiate-content {
    max-width: 800px;
    text-align: justify;
  }
  
  .initiate-content h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .initiate-slogan {
    font-size: 24px;
    color: #555;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .initiate-points {
    list-style-type: disc;
    margin-left: 20px;
    display: block;
  }
  
  .initiate-points li {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
  }
  
  @media only screen and (max-width: 500px) {
    .initiate-main-container {
      padding: 40px;
      height: auto;
    }
  
    .initiate-content h1 {
      font-size: 30px;
      margin-bottom: 20px;
    }
  
    .initiate-content p {
      font-size: 16px;
      margin-bottom: 15px;
    }
  
    .initiate-content h2 {
      font-size: 24px; 
      margin-bottom: 15px;
    }
  
    .initiate-content li {
      font-size: 16px;
      margin-bottom: 8px; 
    }
  
    .Impact {
      margin-top: 70px; /* Reset margin for larger screens */
    }
  }